.MarketScroller{
    background-color: black;
    color: white;
    padding-right: 10px;
    display: flex;
}
.live{
    background-color: black;
    color: white;
    border: 1px;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}
.livetext{
    padding: 2%;
}
.scroller{
    display: flex;
}