.MarketScroller{
    background-color: black;
    color: white;
    padding-right: 10px;
    display: flex;
}
.live{
    background-color: black;
    color: white;
    border: 1px;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}
.livetext{
    padding: 2%;
}
.scroller{
    display: flex;
    width: 85%;
}

/* Responsive adjustments */

@media only screen and (max-width:800px) {
    .MarketScroller {
        flex-direction: column;
        align-items: stretch;
    }

    .scroller {
        width: 100%;  /* Ensures the scroller uses full width on smaller screens */
    }

    .live {
        font-size: 14px;  /* Slightly smaller font for the live button on smaller screens */
        display: none;
    }

    .pributton {
        width: 100%;  /* Full width button for better mobile interaction */
    }
}

@media only screen and (max-width:500px) {
    .MarketScroller {
        flex-direction: column;
        align-items: stretch;
    }

    .scroller {
        width: 100%;  /* Ensures the scroller uses full width on smaller screens */
    }

    .live {
        font-size: 14px;  /* Slightly smaller font for the live button on smaller screens */
        display: none;
    }

    .pributton {
        width: 100%;  /* Full width button for better mobile interaction */
    }
}