.MiniFooter{
    font-size: 13px;
    display: flex;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
}
.mfleftnav{
    display: flex;
}
.mfleftnavtext{
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid;
}
.mfrightnav{
    display: flex;
}
.mf-icon{
    max-width: 60%;
}

/* Responsive adjustments */

@media only screen and (max-width:800px) {
    .MiniFooter {
        flex-direction: column; /* Stack children vertically on small screens */
        display: block;
    }

    .mfleftnav, .mfrightnav {
        flex-direction: row; /* Stack links and icons vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .mfleftnavtext {
        margin-right: 0; /* Remove margin between text items */
        margin-bottom: 10px; /* Add space between stacked items */
    }

    .mf-icon {
        margin-left: 0; /* Align icons without left margin */
        margin-bottom: 0; /* Space between icons when stacked */
    }
    .mfrightnav{
        justify-content: space-evenly;
        display: flex;
    }
}

@media only screen and (max-width:500px) {
    .MiniFooter {
        flex-direction: column; /* Stack children vertically on small screens */
        display: block;
    }

    .mfleftnav, .mfrightnav {
        flex-direction: row; /* Stack links and icons vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .mfleftnavtext {
        margin-right: 0; /* Remove margin between text items */
        margin-bottom: 10px; /* Add space between stacked items */
    }

    .mf-icon {
        margin-left: 0; /* Align icons without left margin */
        margin-bottom: 0; /* Space between icons when stacked */
    }
    .mfrightnav{
        justify-content: space-evenly;
        display: flex;
    }
}