.Markes{
    display: flex;
}

/* Responsive adjustments */

@media only screen and (max-width:800px) {
    .Markes {
        margin: 10px;
      }
}

@media only screen and (max-width:500px) {
    .Markes {
        margin: 10px;
      }
}
