.headerview{
    display: flex;
    justify-content: space-between; /* This spreads out the child elements across the header */
    align-items: center; /* This ensures all items are centered vertically */
    padding: 10px 20px; /* Adjust padding as needed */
}
.nav-icon{
    padding-right: 20px;
}
.nav-buttons{

}
.title{
  font-weight: 800;
  font-size: 30px;
}
.epaper, .mobnav-iconsleft, .mobnav-iconsright, .mobnav-buttons{
  display: none;
}

@media only screen and (max-width:800px) {
  .epaper, .nav-icons, .nav-buttons{
    display: none;
  }
  .mobnav-iconsleft, .mobnav-iconsright, .mobnav-buttons{
    display: block;
  }
  .mobnav-buttons{
    display: flex;
  }
}
@media only screen and (max-width:500px) {
  .epaper, .nav-icons, .nav-buttons{
    display: none;
  }
  .mobnav-iconsleft, .mobnav-iconsright, .mobnav-buttons{
    display: block;
  }
  .mobnav-buttons{
    display: flex;
    display: ruby-text;
  }
}
